:root{
    --color-main: #222222;
    --color-second: #41525D;
    --color-light-gray: #dddddd;
    --color-gray: #cccccc;
    --color-green: #32a852;
    --color-light-green: #33ff99;
    --color-red: #ff1a1a;
    --color-white: #ffffff;
    --color-hover: #e6ffff;
    --color-blue: #0088cc;
}

/* general style */
.d-flex{
    display: flex;
    flex-wrap: wrap;
}
.just-space-between{
    justify-content: space-between;
}
.f-33{
    flex-basis: 33.33%;
}
.f-50{
    flex-basis: 50%;
}
.f-25{
    flex-basis: 25%;
}
.f-100{
    flex-basis: 100%!important;
}
.t-center{
    text-align: center;
}
.t-left{
    text-align: left;
}
.t-right{
    text-align: right;
}
.p-10{
    padding: 10px;
}
.p-5{
    padding: 5px;
}
.b-1{
    border: 1px solid;
}
.light_status{
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: auto 10px auto;
}
.bg-green{
    background-color: var(--color-green);
}
.color-light-green{
    color: var(--color-light-green);
}
.active_chat{
    background-color: var(--color-hover);
}
.align-center{
    align-items: center;
}
/* general style */





#btn_change_status{
    cursor: pointer;
}
.full_board{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.board_left{
    flex-basis: 35%;
    border-right: 1px solid var(--color-light-gray);
    transition: all .23s;
}

.top_board{
    height: 70px;
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid var(--color-light-gray);
    background-color: var(--color-white);
}
.item_top_board{
    padding: 0 10px;
}
.item_top_board span{
}
.content_board_left{
    width: 100%;
    height: calc(100% - 70px);
    display: flex;
}
.menu_chat {
    flex-basis: 30%;    
}
.list_contact{
    flex-basis: 70%;
    height: 100%;
}
.menu_chat_content{
    width: 100%;
}
#close_menu_mobile{
    cursor: pointer;
}
.search_contacts{
    height: 50px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--color-light-gray);
}
.search_contacts i{
    margin-right: 10px;
}
.search_contacts input{
    padding: 5px;
    width: 85%;
    border: none;
    outline: none;
}
.list_contact_content{
    width: 100%;
    height: calc(100% - 50px);
    overflow: auto;
}
.list_contact_content::-webkit-scrollbar{
    background-color: #eeeeee;
    width: 10px;
}
.list_contact_content::-webkit-scrollbar-thumb{
    background-color: #aaaaaa;
    border-radius: 4px;
    border: 2px solid #eeeeee;
}
.menu_chat{
    height: 100%;
    border-right: 1px solid var(--color-light-gray);
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
.list_menu_chat{
    width: 100%;
}
.list_menu_chat li{
    line-height: 2em;
    width: 100%;
    cursor: pointer;
}
.list_menu_chat li a{
    color: var(--color-main);
    font-size: 1em;
    padding: 10px;
    width: 100%;
}
.list_menu_chat li:hover{
    background-color: var(--color-hover);
}
.active_item{
    background-color: var(--color-hover);
}
.active_item a{
    color: var(--color-blue)!important;
}
.contact_single{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid var(--color-light-gray);
    cursor: pointer;
    transition: all .23s;
}
.contact_single:hover{
    background-color: var(--color-hover);
}
.contact_single img, .contact_single .thumbname{
    width: 38px;
    height: 38px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.thumbname{
    background-color: var(--color-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    color: var(--color-white);
}
.photo_chat .thumbname{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.bottom_menu_chat{
    width: 100%;
}
.logout_session{
    width: 100%;
    padding: 10px;
    text-align: center;
    border: none;
    background-color: var(--color-red);
    color: var(--color-white);
    cursor: pointer;
    font-size: 1.1em;
    border-radius: 2px;
}
.contact_single_status{
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--color-light-gray);
}
.contact_single_status img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.show_status{
    border-top: 1px solid var(--color-light-gray);
    border-bottom: 1px solid var(--color-light-gray);
}
.contact_single_info h4{
    font-size: .95em;
    font-weight: 500;
    margin-bottom: 5px;
}
.contact_single_info p{
    font-size: .8em;
    font-weight: 400;
}
.photo_chat{
    display: flex;
    align-items: center;
    padding: 10px;
}
.photo_chat img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}



/* right board */
.board_right{
    flex-basis: 65%;
    transform: all .23s;
}

.icons_chat_active span, .item_top_board span{
    padding: 5px;
    color: #666666;
    cursor: pointer;
    font-size: 1.2em;
}
.item_top_board span{
    padding: 2px;
}
.title_main h2{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.2em;
}
.icons_chat_active span:hover, .item_top_board span:hover{
    color: #222222;
}
.board_chat{
    height: calc(100% - 70px);
}
.send_msg_board{
    height: 10%;
    width: 100%;
    background-color: var(--color-white);
}
.content_msg{
    height: 90%;
    background-color: var(--color-gray);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    overflow-y: scroll;
}
.content_msg_receive{
    height: 100%;
    width: 100%;
    background-color: var(--color-gray);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
}
.content_input_msg{
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
}
.icons_input_msg{
    flex-basis: 8%;
    display: flex;
    justify-content: center;
}
.icons_input_msg span{
    font-size: 1.4em;
    padding: 0 5px;
    cursor: pointer;
    color: #666666;
}
.icons_input_msg span:hover{
    color: #222222;
}
.input_msg_field{
    flex-basis: 84%;
    border: 1px solid var(--color-light-gray);
    padding: 4px 10px;
}
.btn_send_msg{
    flex-basis: 8%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    font-size: 1.4em;
    cursor: pointer;
    color: #666666;
}
.btn_send_msg:hover{
    color: #222222;
}
.input_msg_field textarea{
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.4em;
    height: 2em;
    resize: none;
}
.top_menu_mobile{
    display: none;
}

#open_menu{
    display: none;
}
.icons_menu{
    display: flex;
}
.return_contacts{
    display: none;
    font-size: 1.6em;
    cursor: pointer;
    margin-right: 10px;
}
.menu_chat_open{
    flex-basis: 0%;
    overflow: hidden;
}



/* msg */
.row_msg_me{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 5px 0;
}
.dialog_msg{
    padding: 10px;
    border-radius: 5px;
    background-color: var(--color-light-green);
    position: relative;
}
.dialog_msg::before{
    content: "";
    position: absolute;
    top: 5px;
    right: -4px;
    width: 8px;
    height: 8px;
    background-color: var(--color-light-green);
    transform: rotate(45deg);
}
/* msg */

#open_menu_desktop{
    transform: rotate(180deg);
    transition: all .23s;
}
.reto{
    transform: rotate(0deg)!important;
}

/* chat mobile */

#open_menu_icon_chat{
    display: none;
    padding: 10px;
    cursor: pointer;
}
.push_row{
    text-align: right;
    display: flex;
    justify-content: flex-end;
}
.push{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
    max-width: 30%;
}
.push_new{
    background-color: var(--color-red);
    color: var(--color-white);
    padding: 2px 6px;
    border-radius: 10px;
    font-size: .6em;
    margin: 2px 0;
}
.push_new_green{    
    background-color: var(--color-green);
    color: var(--color-white);
    padding: 2px 6px;
    border-radius: 10px;
    font-size: .6em;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px 0;
    margin-left: 5px;
}
.user_type{
    font-size: .7em;
    color: var(--color-blue);
}
/* chat mobile */

@media(max-width: 1150px){
    #open_menu{
        display: flex;
    }
    .item_top_board span{
        font-size: 1em;
    }
    .menu_chat{
        flex-basis: 0%;
        display: none;
    }
    .list_contact{
        flex-basis: 100%;
    }
    .top_menu_mobile{
        display: flex;
        justify-content: flex-end;
    }
    .menu_chat_open{
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        max-width: 400px;
        width: auto;
        height: 100%;
        background-color: var(--color-white);
        box-shadow: 2px 0px 10px #222;
        z-index: 1;
    }
    #open_menu_desktop{
        display: none;
    }
}

@media(max-width: 768px){
    .board_left{
        flex-basis: 100%;
    }
    .board_right{
        flex-basis: 0%;
        display: none;
    }
    .return_contacts{
        display: flex;
    }
    .icons_chat_active{
        display: none;
    }
    #open_menu_icon_chat{
        display: block;
    }
    .icons_chat_active{
        position: absolute;
        top: 0;
        right: 0;
        flex-direction: column;
        background-color: var(--color-white);
        border-radius: 0 0 0 5px;
        box-shadow: 2px 2px 10px #222;
        z-index: 10;
    }
    .icons_chat_active_open{
        display: flex;
    }
    .open_over_open{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
    }
    .content_input_msg{
        min-height: 60px;
    }
    .input_msg_field{
        flex-basis: 65%;
    }
    .icons_input_msg{
        flex-basis: 6%;
    }
    .input_msg_field textarea{
        font-size: 1em;
    }
    .board_left_mobile{
        position: relative;
        left: -100%;
        width: 100%;
    }
    .board_right_mobile{
        position: fixed;
        left: 0;
        flex-basis: 100%!important;
        display: block!important;
        width: 100%;
        height: 100%;
    }
}